{% extends 'main/all_files.html' %}
{% load static %}

{% block title_block %}{{ tovars.title }}{% endblock %}


{% block content %}
<div class="maindivtovar_detail">
<div class="divindivforlook_detail">

        <div class="divindivab_detail">


            <h1 id="title_detail" class="title_detail">{{ tovars.title }}</h1>
            {% if el.price != "" %}
<h2 style="--grivn:'₴'" class="price_class_detail">{{ tovars.price }}</h2>
            {% endif %}
    <div class="div_for_images">
        <div id="div_for_photos_id" class="div_for_photos">
            {% if tovars.photo_1 != "" %}
            <div class="div_photo_1">
            <img id="photo_1" class="img_1_detail" src="{{ tovars.photo_1.url }}">
            </div>
            {% endif %}
            {% if tovars.photo_2 != "" %}
            <div class="div_photo_2">
        <img id="photo_2" class="img_1_detail" src="{{ tovars.photo_2.url }}">
        </div>
            {% endif %}
        {% if tovars.photo_3 != "" %}
            <div class="div_photo_3">
        <img id="photo_3" class="img_1_detail" src="{{ tovars.photo_3.url }}">
                </div>
        {% endif %}

            {% if tovars.photo_4 != "" %}
            <div class="div_photo_4">
        <img id="photo_4" class="img_1_detail" src="{{ tovars.photo_4.url }}">
                </div>
        {% endif %}

            {% if tovars.photo_5 != "" %}
            <div class="div_photo_5">
        <img id="photo_5" class="img_1_detail" src="{{ tovars.photo_5.url }}">
                </div>
        {% endif %}

            {% if tovars.photo_6 != "" %}
            <div class="div_photo_6">
        <img id="photo_6" class="img_1_detail" src="{{ tovars.photo_6.url }}">
                </div>
        {% endif %}

            {% if tovars.photo_7 != "" %}
            <div class="div_photo_7">
        <img id="photo_7" class="img_1_detail" src="{{ tovars.photo_7.url }}">
                </div>
        {% endif %}

            {% if tovars.photo_8 != "" %}
            <div class="div_photo_8">
        <img id="photo_8" class="img_1_detail" src="{{ tovars.photo_8.url }}">
                </div>
        {% endif %}
        </div>
</div>

            <p class="about_tovar">{{ tovars.about }}</p>
        </div>

      </div>
</div>

<div class="buttons_div">
            <div id="button_right_id"></div>
            <div id="button_left_id"></div>
            </div>
{% endblock %}

{% block script_content %}
{% if var_for_show == 'komp' %}
<script src="{% static 'main/js/js_for_show_photos.js' %}"></script>
{% else %}
<script src="{% static 'main/js/js_for_show_photos_telephone.js' %}"></script>
{% endif %}
{% endblock %}