@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Mono:ital,wght@0,400;1,700&family=Roboto+Slab:wght@400;900&family=Rubik+Moonrocks&display=swap');

/*    font-family: 'Oswald', sans-serif;

    font-family: 'Roboto Mono', monospace;

    font-family: 'Roboto Slab', serif;

    font-family: 'Rubik Moonrocks', cursive;*/


body {
background: #fff;
background: #f9f9fb;
color: #333;
align-items: center;
margin: 0px;
padding: 0px;


}

.divindivtitle {
position: absolute;
float: top;
}

.title_page {
position: relative;
width: 507px;
font-size: 5vh;
left: 35vw;
font-family: 'Rubik Moonrocks', cursive;
}

.divindivaside {
position: relative;
float: left;
}

.divindivaside aside {
position: fixed;
height: 100vh;
width: 20vw;
background: #333;
justify-content: center;
align-items: center;
display: flex;
}
.divindivaside ul {
position: relative;
left: -1vw;
}


.divindivaside ul li {
list-style: none;
color: #fff;
font-size: 3.5vh;
font-family: 'Oswald', sans-serif;
letter-spacing: 0.3vw;
font-weight: bold;

}

.divindivaside ul a {
text-decoration: none;
display: block;
margin-top: 5vh;
width: auto;
height: 8vh;
background: linear-gradient(90deg, #143263, #631440);
padding-left: 0.3vw;
padding-top: 2vh;
border-radius: 20px;
text-align: center;

transition: 0.5s;
}
.divindivaside ul a:hover {
border-radius: 35px;

box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.divindivaside ul a:nth-child(4), .divindivaside ul a:nth-child(3) {
padding-left: 0.3vw;
padding-bottom: 1vh;
}
.divindivaside ul a:nth-child(4) li, .divindivaside ul a:nth-child(3) li {
font-size: 2.5vh;
}


.hrefonadmin {
position: fixed;
float: right;
right: 3vw;
top: 2vh;
font-family: 'Roboto Mono', monospace;
text-decoration: none;
color: #333;
}

/*.divindivtovar {
position: relative;
float: left;
left: 500px;
width: 0px;
}

.divindivtovar img {
width: 200px;
height: auto;
}


.divindivtovar div {
position: absolute;
float: left;
display: block;
margin: 100px;
}*/

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  margin: 0px;
  padding: 0px;
  background: #f9f9fb;
}

.maindivtovar {
  margin-top: 0px;
  float: left;
}

.all_tovars_div {
  position: absolute;
  left: 18vw;
  width: 80vw;
  top: 100px;
}


.divindivmagazinforlook {
  position: relative;
  width: 400px;
  height: 520px;
  background: #fff;
  border: 10px solid #fff;
  float: left;

  margin-left: 80px;
  margin-top: 100px;

  box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.5);

  transition: 0.5s;
}

.divindivmagazinforlook:hover {
  box-shadow: 7px 7px 10px rgba(51, 51, 51, 0.7);
}

.divindivmagazinforlook a {
  text-decoration: none;
  color: #111;
}

.divindivmagazinforlook .all_tovars_div_img {
  position: relative;
  display: flex;
  height: 400px;
  width: 400px;
  background: transparent;
  justify-content: center;
  align-items: center;
  text-align: left;
  overflow: hidden;

  top: -150px;
  bottom: 0px;
}


.divindivmagazinforlook .all_tovars_div_img img {
  position: relative;
  top: 0px;
  bottom: 0px;
  height: 100%;

  transition: 0.5s;
}
.divindivmagazinforlook h3 {
  position: relative;
  width: 90%;
  height: 70px;
  background: transparent;
  font-family: 'Oswald', sans-serif;
  padding: 5px 10px;
  top: 415px;
  margin-left: 2%;
  font-size: 17px;

  overflow: hidden;
}


.divindivmagazinforlook h2 {
  position: relative;
  width: 17%;
  height: 35px;
  background: #fff;
  font-family: 'Oswald', sans-serif;
  top: 250px;
  left: 335px;
  box-shadow: -25px 0px 0px #fff,
              0px 30px 0px #fff,
              -25px 30px 0px #fff;

  z-index: 20;
}



.divindivmagazinforlook h2::before {
  content: var(--grivn);
  position: relative;
  display: block;
  width: 5%;
  height: 35px;
  font-family: 'Oswald', sans-serif;
  top: 0px;
  color: #111;
  float: left;
  right: 15px;
}

.divindivmagazinforlook .all_tovars_div_img img:hover {
  top: -5px;
  height: 105%;
}



.maindivtovar_detail {
position: relative;
float: right;
}
.divindivforlook_detail {
position: relative;

}

.divindivforlook_detail img {
position: relative;
height: 70vh;
right: 0vw;
top: 0vh;

transition: 0.5s;
}

.divindivforlook_detail h1 {
position: relative;
top: 20vh;
right: -1vw;
font-size: 35px;
width: 32vw;
color: #333;
font-family: 'Roboto Slab', serif;
height: 20vh;
}

.divindivforlook_detail h2 {
position: relative;
top: -16vh;
right: -1vw;
font-size: 45px;
width: 100px;
color: #333;
font-family: 'Roboto Slab', serif;
height: 5vh;
}

.div_for_images {
position: relative;
height: 70vh;
width: 35vw;
background: #f9f9fb;
right: 35vw;
top: -25vh;
overflow: hidden;
}

.div_for_images img:hover {
height: 73vh;
/*top: -2vh;
right: 2vh;*/
}


.divindivforlook_detail h2::before {
content: var(--grivn);
color: #333;
font-family: 'Roboto Slab', serif;
}

.divindivforlook_detail p {
position: relative;
left: -35vw;
top: -25vh;
width: 35vw;
height: 1vh;
}

.buttons_div {
position: relative;
float: right;
}

#button_right_id {
position: relative;
top: 50vh;
border-top: 15px solid #333;
border-right: 15px solid #333;
width: 1.5vw;
height: 3vh;
right: -3vw;

transform: rotate(45deg);
}

#button_left_id {
position: relative;
top: 45vh;
border-top: 15px solid #333;
border-left: 15px solid #333;
width: 1.5vw;
height: 3vh;
right: 35vw;

transform: rotate(-45deg);
}

#button_right_id:hover {
cursor: pointer;
}

#button_left_id:hover {
cursor: pointer;
}

.div_for_photos {
position: relative;
/*justify-content: center;
align-items: center;
display: flex;*/


transition: 0.5s;
}

.div_for_photos_2 {
position: relative;
left: -35vw;

transition: 0.5s;
}

/*#photo_2 {
position: relative;
top: -70vh;
left: 35vw;
}

#photo_3 {
position: relative;
top: -140vh;
left: 70vw;
}*/

.div_photo_1 {
position: relative;
justify-content: center;
align-items: center;
display: flex;

height: 70vh;
width: 35vw;
overflow: hidden;
}

.div_photo_2 {
position: relative;
justify-content: center;
align-items: center;
display: flex;

height: 70vh;
width: 35vw;
top: -70vh;
left: 35vw;
overflow: hidden;
}

.div_photo_3 {
position: relative;
justify-content: center;
align-items: center;
display: flex;

height: 70vh;
width: 35vw;
top: -140vh;
left: 70vw;

overflow: hidden;
}


.div_photo_4 {
position: relative;
justify-content: center;
align-items: center;
display: flex;

height: 70vh;
width: 35vw;
top: -210vh;
left: 105vw;

overflow: hidden;
}

.div_photo_5 {
position: relative;
justify-content: center;
align-items: center;
display: flex;

height: 70vh;
width: 35vw;
top: -280vh;
left: 140vw;

overflow: hidden;
}

.div_photo_6 {
position: relative;
justify-content: center;
align-items: center;
display: flex;

height: 70vh;
width: 35vw;
top: -350vh;
left: 175vw;

overflow: hidden;
}

.div_photo_7 {
position: relative;
justify-content: center;
align-items: center;
display: flex;

height: 70vh;
width: 35vw;
top: -420vh;
left: 210vw;

overflow: hidden;
}

.div_photo_8 {
position: relative;
justify-content: center;
align-items: center;
display: flex;

height: 70vh;
width: 35vw;
top: -490vh;
left: 245vw;

overflow: hidden;
}